header {
	display: block;
	height: 40px;
	padding-left: 15px;
	padding-top: 15px;
	font-size: 24px;
	border-bottom: 4px solid #194061;
	background-color: #fff;
	color: #fff;
}

input {
	width: 100%;
}

h2 {
	padding-left: 15px;
	background-color: #eee;
	margin-top: 0;
	line-height: 32px;
	margin-top: 24px;
	height: 30px;
	color: #194061;
}

h4 {
	height: 90px;
	font-weight: 400;
}

.MuiSelect-selectMenu {
	text-transform: capitalize;
}

.App {
	display: flex;
	height: 100%;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 16px auto 0;
	width: 100%;
}

main .export-button {
	margin: 32px 0;
}

main .formulation-chooser {
	margin: 16px 0;
}

.App .MuiButton-containedPrimary {
	background-color: #194061;
}

.App .MuiSlider-root {
	color: #194061;
}
