@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
}

#root {
  height: 100%;
}